.noticeWindow {
    width:270px;
    padding:5px;
    margin-left:15px;
    margin-right:15px;
    height:280px;
    background:blue;
    border:5px;
    border-radius:5px;
    top:60px;
    position:absolute;	
    z-index:9999;
}
.noticeTitle{
	color:white;
	font-size:1.7em;
	padding-bottom:5px;
}
.noticeContent{
	background:white;
	color:black;
	height:233px;
	padding:5px;
	font-size:.8em;
}
.noticeArrow{
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid blue;
    position:absolute;
    top:-20px;
    left:5px;
}
.noticeArrow.down{
    border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid blue;
    border-bottom:none;
    position:absolute;
    top:290px;
}